## Welcome to the Week 2 Coding Challenge!

Problem 1: Who is in the third place?

Create a function whose name is ```third_place``` that does the following: 

Given a list of test score and a list of participants name. The desired output would be the name of the participant who gets the 3rd best score. The rule of determining the order of the best score is as follows:
- Higher score is better
- In case of multiple participants having the same test score, they can occupy the same ranking value. For example, if 2 participants scored 100, then both of them occupy the first place. 

The first input of the function is the name list, and the second input to the function is the score list.

##### Example 1:

Input:

names = [Andi, Budi, Charlie, Dilan, Echa]

score = [80, 90, 95, 100, 85]

This means, Andi gets 80, Budi gets 90, Charlie gets 95, Dilan gets 100, and Echa gets 85. The first best score is 100, and Dilan gets it. The second best score is 95, and Charlie gets it. The third best score is 90, and Budi gets it. So, our output should be Budi.

Output: 'The third winner: Budi'.

When we run ```third_place(names, score)```, the output will be 'The third winner: Budi'.

##### Example 2:

Input:

names = [Andi, Budi, Charlie, Dilan, Echa]

score = [80, 80, 80, 100, 90]

This means, Andi, Budi, and Charlie gets 80, Dilan gets 100, and Echa gets 90. The third best score is 80, and our output should list ALL of the participants who get 80. 

Output: 'The third winner: Andi, Budi, Charlie'.

When we run ```third_place(names, score)```, the output will be 'The third winner: Andi, Budi, Charlie'.


##### Example 3:

Input:

names = [Andi, Budi, Charlie, Dilan, Echa, Fanya]

score = [80, 90, 90, 100, 100, 80]

The first best score (first winner) is 100 - Dilan and Echa shared this position. The second best score (second winner) is 90 - Budi and Charlie shared this position. The third best score (third winner) is 80, and it is shared by Andi and Fanya. So, our output should be Andi and Fanya.

Output: 'The third winner: Andi, Fanya'.

In [5]:
import pandas as pd
df = pd.DataFrame({
      'names':['A', 'B', 'C', 'D', 'E'],
      'score':[80, 70, 90, 100, 85]})

df.head()

  names  score
0     A     80
1     B     70
2     C     90
3     D    100
4     E     85

In [6]:
df['rank'] = df['score'].rank(method='dense', ascending= False)
data = df.sort_values(by='rank',ascending=True)

In [13]:
namess = data['names'].loc[data['rank']==3]
namess = namess.tolist()
print("third rank: ", end="")
print(*namess, sep=", ")

third rank: E

Problem 2: Find the Square Root!

Create a function whose name is ```square_root``` that does the following:

Given a second order polynomial, find the roots (roots should be in real number). The input will be 3 numbers, each of them representing 'a', 'b', and 'c', in ax^2 + bx + c = 0.

Your task is to find the root of ax^2 + bx + c = 0. 

However, notice that sometimes an equation cannot be solved, or they have only one solution instead of two. Your function should also take this into consideration. 

The input of your function is 3 numbers, first number is the 'a' constant, second number is the 'b' constant, and third number is the 'c' constant.

##### Example 1:

Input: a = 1, b = -5, c = 6.

This means, the equation is 1x^2 - 5x + 6 = 0. 
This equation has two solutions, the first solution is x = 3, and the second solution is x = 2. So, your output should be:

Output: 'X1 = 3, X2 = 2'.

When we run the code ```square_root(1, -5, 6)``` the output will be: 'X1 = 3, X2 = 2'

##### Example 2:

Input: a = 2, b = 4, c = 2.

This means, the equation is 2x^2 + 4x + 2 = 0. 
This equation has only one solution, which is x = -1. 

Output; 'X = -1'.

##### Example 3:

Input: a = 1, b = 1, c = 9.

This means, the equation is x^2 + x + 9 = 0.
This equation has no real solution. (If you have learned about imaginary or complex numbers, the solution of this equation is those kind of numbers. But here, we're just going to deal with real numbers).

Output: 'No solution'.

In [17]:
def square_root(a, b, c):
  from math import sqrt
  delta = (b**2) - 4*a*c

  if delta > 0:

    r = sqrt(delta)
    x1 = ((-b + r)/2*a)
    x2 = ((-b - r)/2*a)
    print("X1 =", int(x1),",","X2 =",int(x2))

  elif delta == 0:

    x = -(b)/(2*a)
    print("x =",int(x))

  else:

    print("No Solution")


square_root(1,5,3)

X1 = 0 , X2 = -4

Problem 3: Find Distance Between Two Coordinates - Easy

Create a function called ```distance``` that does the following:

Given two coordinates in a list. Your task is to calculate the distance between these two coordinates. The input of your function will be two list. Each list contains 2 members, representing the x and y position.

##### Example 1:

Input: 

point_1 = [5, 5]

point_2 = [1, 2]

This means, the first point's coordinate is (5,5), the second point's coordinate is (1,2). To calculate the distance between these two points, we use the usual euclidean distance formula here: https://wikimedia.org/api/rest_v1/media/math/render/svg/2e0c9ce1b3455cb9e92c6bad6684dbda02f69c82. 

The distance is: 

Square root of ((5-1)^2 + (5-2)^2) = Square root of (16 + 9) = Square root of (25) = 5.

Output: 'The distance is 5.'

So, when we run the code ```distance(point_1, point_2)``` the output will be 'The distance is 5'.

##### Example 2:

Input:

point_1 = [0,-1]

point_2 = [-3, 2]

The first coordinate is (0,-1), the second coordinate is (-3,2). The distance between them is:

Square root of ((0- -3)^2 + (-1-2)^2) = Square root of (9 + 9) = Square root of (18) = 4.242640687

Output: 'The distance is 4.242640687'.

So, when we run the code ```distance(point_1, point_2)``` the output will be 'The distance is 4.242640487'.

##### FAQ:

- Question: "Desimalnya dibuletin ga?"
- Answer: "Ga usah peduliin format output desimalnya. Mau keluar berapa angka di belakang koma gpp kok. Yang penting value nya bener."

In [33]:
def distance(point_1, point_2):
  from math import sqrt
  first_point = (point_1[0]-point_2[0])**2
  second_point = (point_1[1]-point_2[1])**2
  distance_calc = sqrt(first_point + second_point)
  print(distance_calc)

point_1 = [15, 30]
point_2 = [5, 6]

distance(point_1, point_2)

26.0